@page
@model ZilloVersion1.Pages.AdminArea.AdminAreaModel
@{
}

<div class="backgroundAstronaut">

    <div class="flexColumn alignCenter smallPadding">

    <h4 class="button1 topBottomMargin"><a class="smallPadding white noTextDec" asp-area="" asp-page="/AdminArea/AdminArticles/SubmittedArticles">Submitted articles</a></h4>

    <h4 class="button1"><a class="smallPadding white noTextDec" asp-area="" asp-page="/AdminArea/AdminUsers/UsersManagement">Users management</a></h4>

    </div>
</div>