@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="flexColumn alignCenter spaceAround preserveWS darkBackground white smallPadding">

    <div class="smallSideMargin smallPadding" style="max-width: 1200px">

    <h1> Analytics</h1>


    This website collects personal data to power our site analytics, including:

    Information about your browser, network, and device

    Web pages you visited prior to coming to this website

    Your IP address



    This information may also include details about your use of this website, including:

    Clicks

    Internal links

    Pages visited

    Scrolling

    Searches

    Timestamps



    We share this information with Squarespace, our website analytics provider, to learn about site traffic and activity.

    We do not share Squarespace to share our analytics data.

    Cookies

     This website uses cookies and similar technologies, which are small files or pieces of text that download to a device when a visitor accesses a website or app. For information about viewing the cookies dropped on your device, visit The cookies Squarespace uses.

    These functional and required cookies are always used, which allow Squarespace, our hosting platform, to securely serve this website to you.

    These analytics and performance cookies are used on this website, as described below, only when you acknowledge our cookie banner. This website uses analytics and performance cookies to view site traffic, activity, and other data.



    Zillowirral.co.uk cookies are not used to identify you personally.

    You’ll normally see a message on the site before we store a cookie on your computer. If you don't want us to use cookies you can block them.

    This website is hosted by Squarespace. Squarespace collects personal data when you visit this website, including:

    Information about your browser, network and device

    Web pages you visited prior to coming to this website

    Web pages you view while on this website

    Your IP address



    Squarespace needs the data to run this website, and to protect and improve its platform and services. Squarespace analyzes the data in a de-personalized form.

    Fonts

    This website uses font files from Google Fonts and Adobe Fonts. To properly display this site to you, servers where the font files are stored may receive personal information about you, including:

    Information about your browser, network, or device

    Your IP address





    Personal data

    Personal data relates to a living individual who can be identified from that data. Identification can be by the information alone or in conjunction with any other information in the data controller’s possession or likely to come into such possession.

    Issues of how data is handled are dealt with by the Council's Data Protection Officer Jane Corrin who can be contacted by email at DPO@wirral.gov.uk or by writing to: Data Protection Officer, Treasury Building, Cleveland Street, Birkenhead, Wirral, CH41 1AH.

    As a public authority, we must comply with all relevant legislation relating to data handling.

    The Information Commissioner's Office (ICO) is the supervisory authority in the United Kingdom established to ensure that your data rights are upheld. See Formal Resolution below for the ICO address.

    What is the legal basis for processing your personal data?

    Depending on how we are processing your personal data will determine the legal basis for processing.  Generally, the legal bases for processing by the Council as a public authority will be:

    to perform a function or provide a service required by statute (Article 6(1)(e) GDPR)
    (see list of Statutory duties placed on local government)

    to comply with a legal obligation (Article 6(1)(c) GDPR)

    where the processing is necessary for the performance of a contract to which you are a party or in order to take steps at your request prior to entering into a contract (Article 1(b) GDPR)

    where disclosure is in the vital interests of yourself or another person (Article 6(1)(d) GDPR); and

    with your explicit consent (Articles 6(1)(a) and 9(2)(a) GDPR)



    There is a 6th Lawful basis: ‘Legitimate interests’ where the processing is necessary for data subjects legitimate interests or the legitimate interests of a third party unless there is a good reason to protect the individual’s personal data which overrides those legitimate interests. (This cannot apply to a public authority processing data to perform its official tasks.

    Your data rights

    1. Right to be informed

    We must be completely transparent with you by providing information 'in a concise, transparent, intelligible and easily accessible form, using clear and plain language'. Our privacy notice is one of the ways we try and let you know how data is handled.

    2. Right of access

    You have the right to access your personal information except where:

    it contains confidential information about other people and the Council has to balance the rights of other individuals

    includes information a care professional thinks will cause serious harm to your or someone else’s physical or mental wellbeing

    information which may prejudice an investigation if disclosed

    For details on how you can access your personal information see our Data Protection Policy.

    3. Right to rectification

    You have the right without undue delay to request the rectification or updating of inaccurate personal data.

    4. Right to restrict processing

    You can ask for there to be a restriction of processing such as where the accuracy of the personal data is contested. This means that we may only store the personal data and not further process it except in limited circumstances.

    5. Right to object

    You can object to certain types of processing such as direct marketing. The right to object also applies to other types of processing such as processing for scientific, historical research or statistical purposes (although processing may still be carried out for reasons of public interest).

    6. Rights on automated decision making and profiling

    The law provides safeguards for you against the risk that a potentially damaging decision is taken without human intervention. The right does not apply in certain circumstances such as where you give your explicit consent.

    7. Right to data portability

    Where personal data is processed on the basis of consent and by automated means, you have the right to have your personal data transmitted directly from one data controller to another where this is technically possible.

    8. Right to erasure or 'right to be forgotten'

    You can request the erasure of your personal data when:

    i) the personal data is no longer necessary in relation to the purposes for which it was collected and processed.
    ii) the Council’s lawful basis for processing your personal data was consent and you no longer provide your consent and there is no other legal ground for the processing , or
    iii) you object to the processing and there are no overriding legitimate grounds for the processing.

    The Information Commissioner regulates data handling by organisations in the U.K and work to uphold the data rights of citizens and the Information Commissioner's website provides more information on the rights available to you.

    Withdrawing consent

    If you consented to providing your personal information to us and you have changed your mind and you no longer want the Council to hold and process your information, please let us know. In the first instance please contact the relevant department. Withdrawing consent should be as easy to do as when you provided consent in the first place. If that isn't your experience with a particular service it is important you let us know of your difficulties so that we can put that right.

    If you encounter any difficulties in withdrawing consent, please contact the Council's Data Protection Officer by email at DPO@wirral.gov.uk or by writing to: Data Protection Officer, Treasury Building, Cleveland Street, Birkenhead, Wirral, CH41 1AH.

    The right to complain about data handling

    The Council sets very high standards for the collection and appropriate use of personal data. We therefore take any complaints about data handling very seriously. We encourage you to bring to our attention where the use of data is unfair, misleading or inappropriate and we also welcome suggestions for improvement.

    Informal resolution

    In the first instance we would ask that you try and resolve data handling issues directly with the relevant department before applying for a formal resolution.

    Formal resolution

    If you are dissatisfied with the informal resolution of your complaint you can request a review by the Data Protection Officer Jane Corrin by email DPO@wirral.gov.uk

    If you remain dissatisfied following an internal complaint, you can lodge a complaint with the Information Commissioner:

    Information Commissioner's Office
    Wycliffe House
    Water Lane
    Wilmslow
    Cheshire
    SK9 5AF


    </div>











</div>
